body{
    background-color: red;
    padding: 5rem;
    text-align: center;
}
main{
    text-align: center;
    padding: 15rem;
    align-items: center;
    justify-content: center;
}
footer{
    text-align: center;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
}

