.container {
    align-items: center;
    text-align: center;

}
img:nth-child(3) {
    margin: 15px;
    padding: 50px;
    width: 200px;
    height: 150px;
}
img:nth-child(2) {
    margin: 15px;
    padding: 50px;
    width: 200px;
    height: 150px;
}
img:nth-child(1) {
    margin: 15px;
    padding: 50px;
    width: 200px;
    height: 150px;
}
body{
    background-color: blue;
    text-align: center;
    
}
.greeting {
    text-align: center;
    justify-content: center;
}